.login-container {
  height: 100vh;
  background-image: url('../assets/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: top;   
  align-items: center;       
  gap: 20px;                  
}
.login_header {
  color: rgb(246, 245, 245);
  font-size: 32px;
  font-weight: bold;
  padding-top: 10%;
  text-shadow: 0 1px 4px rgba(0,0,0,0.7);


}
.username-label .ant-form-item-label > label {
  color: rgb(251, 251, 253);
  font-weight: bold;
}